.headerAbout{
    color:rgb(0, 0, 0);
    text-align: center; 
    font-weight: bold;
    
}
.storyAbout{
    color:rgb(0, 0, 0);
    max-width: 1280px;
    margin-left: 20rem;
    margin-right: 20rem;
}
/* .frAbout{
    margin-left: 20rem;
    margin-right: 20rem;
} */

h1{
    color: black;
    text-align: center; 

}

.bg-about{
    background-color: rgb(51, 54, 47);
}

.img_1{
    border: solid;
    color: black;
    width: 1025px;
    margin-left: 23.5%;
}
.color-ab{
    background-color: rgb(255, 203, 203);
    margin-left: 20%;
    margin-right: 20%;
}
