
.img-port{
    width: 100px;

}
.port-frame{
    
    width: 100%;
    min-height: auto;
    padding: 20px;
    background: #99FFFF		;
    font-weight: 100px;
}
.port-video{
    padding-left: 5%;
    
}
.text-editor{
    font-size: 12px;
}

.con-con{
    margin-left: 15%;
    
}
